.music_1{
    margin: 3px auto;
    border: 3px solid black;
    img{
        height: 100px;
        width: 100px;
    }
    .play{
        height: 50px;
        width: 50px;
        margin: 17px 0px;
        border: 3px solid black;
        border-radius: 48px;
        cursor: pointer;
    }
}
.music_2{
    margin: 105px 0px;
    border: 3px solid black;
    .m{
        height: 100px;
        width: 100px;
    }
    .pla{
        height: 50px;
        width: 50px;
        border: 3px solid black;
        border-radius: 48px;
        margin: 15px 0px;
        cursor: pointer;
    }
}
.music_3{
    border: 3px solid black;
    margin: 220px 0px;
    img{
        height: 100px;
        width: 100px;
    }
    .pl{
        height: 50px;
        width: 50px;
        border: 3px solid black;
        border-radius: 48px;
        cursor: pointer;
        margin:15px 0px;
    }
}
.music_4{
    border: 3px solid black;
    margin: 330px 0px;
    img{
        height: 100px;
        width: 100px;
    }
    .p{
        height: 50px;
        width: 50px;
        border: 3px solid black;
        border-radius: 48px;
        cursor: pointer;
        margin:15px 0px;
    }
}
.music_5{
    border: 3px solid black;
    margin: 440px 0px;
    img{
        height: 100px;
        width: 100px;
    }
    .plays{
        height: 50px;
        width: 50px;
        border: 3px solid black;
        border-radius: 48px;
        cursor: pointer;
        margin:15px 0px;
    }
}
.ms_5{
    margin:-510px 170px ;
}
.ms_4{
    margin: -400px 170px;
}
.ms_3{
    margin: -290px 170px;
}
.ms_2{
    margin: -180px 170px;
}
.ms_1{
    margin: -70px 170px;
}
body{
    font-family: cursive;
}
.hh{
    text-align: center;
}